@import url('https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css');
@import url('https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('./pages/class.css');
@import url('./pages/class-data.css');
@import url('./components/page-title.css');
@import url('./components/header.css');
@import url('./components/card.css');
@import url('./components/student-list.css');
@import url('./components/add-students-modal.css');
@import url('./components/add-class-modal.css');
@import url('./components/presence-modal.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spectral SC", serif;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
}

body {
  background-image: url('../assets/images/bg.jpg');
  background-size: cover;
}

#main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.loader {
  animation: is-rotating 1s infinite;
  border: 10px solid #d8d8d8;
  border-radius: 50%;
  border-top-color: #4e3f38;
  width: 80px;
  height: 80px;
}

.hidden {
  display: none !important;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: calc(100% - 70px);
  padding-top: 30px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

.green-button {
  padding: 7px 13px;
  background-color: #3fbf36;
  border: solid 1px #ffffff;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.1s;
}

.green-button:hover {
  background-color: #ffffff;
  border: solid 1px #3fbf36;
  color: #3fbf36;
}

.yellow-button {
  padding: 7px 13px;
  background-color: #fdbb04;
  border: solid 1px #ffffff;
  border-radius: 3px;
  cursor: pointer;
  color: #000000;
  transition: 0.1s;
}

.yellow-button:hover {
  background-color: #ffffff;
  border: solid 1px #fdbb04;
  color: #fdbb04;
}

.red-button {
  padding: 7px 13px;
  background-color: #bf3636;
  border: solid 1px #ffffff;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.1s;
}

.red-button:hover {
  background-color: #ffffff;
  border: solid 1px #bf3636;
  color: #bf3636;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}