@import url('https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css');
@import url('https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./pages/index.css');
@import url('./pages/class-card.css');
@import url('./pages/class-data.css');
@import url('./components/page-title.css');
@import url('./components/header.css');
@import url('./components/card.css');
@import url('./components/student-list.css');
@import url('./components/presence-modal.css');

.green-button {
  padding: 7px 13px;
  background-color: #3fbf36;
  border: solid 1px  #ffffff;
  border-radius: 3px;  
  cursor: pointer;
  color: #ffffff;
  transition: 0.1s;
}

.green-button:hover  {
  background-color: #ffffff;
  border: solid 1px  #3fbf36;
  color: #3fbf36;
}

.red-button {
  padding: 7px 13px;
  background-color: #bf3636;
  border: solid 1px  #ffffff;
  border-radius: 3px;  
  cursor: pointer;
  color: #ffffff;
  transition: 0.1s;
}

.red-button:hover  {
  background-color: #ffffff;
  border: solid 1px  #bf3636;
  color: #bf3636;
}

