.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.add-class-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 80px;
  height: 80px;
  padding: 0 !important;
  border: none;
  border-radius: 50% !important;
  cursor: pointer;
  background-color: #ee8282;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18);
  transition: 0.5s;
}

.add-class-buttom i{
  font-size: 82px;
  color: #a52a2a;
  transition: 0.5s;
}

.add-class-buttom:hover {
  transform: scale(1.1);
}

.add-class-buttom:hover i{
  color: #bf3636;
}

@media only screen and (max-width: 1225px) {
  .card-container {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .card-container {
    width: 100%;
  }
}