* {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #dfdfdf;
	color: #757575;
}

#main-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0000008f;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.loader {
	animation: is-rotating 1s infinite;
	border: 10px solid #d8d8d8;
	border-radius: 50%;
	border-top-color: #4e3f38;
	width: 80px;
	height: 80px;
}

.hidden {
	display: none !important; 
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	height: calc(100% - 70px);
	padding-top: 30px;
}

@keyframes is-rotating {
	to {
		transform: rotate(1turn);
	}
}