.add-class-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 20;
}

#add-class-modal {
  position: absolute;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
}


.add-class-form {
  margin: 20px 0;
}

.add-class-form input {
  padding: 0 10px;
  margin: 0 10px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px #c5c5c5;
  color: #757575;
}

.add-class-form input:focus {
  outline: none;
}

.close-button {
  border: none;
  background-color: #FFFFFF;
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.close-button:hover {
  color: #5a5a5a;
}

.button_area {
  display: flex;
  justify-content: center;
  width: 100%;
}