header {
   display: flex;
   width: 100%;
   height: 70px;
   padding: 0 20px;
}

.header-logo {
   display: flex;
   align-items: center;
   width: 20%;
   min-width: 150px;
   font-size: 40px;
   color: #ffffff;
}

nav {
   width: 80%;
}

nav ul {
   display: flex;
   height: 100%;
   list-style: none;
   padding: 0;
   margin: 0;
}

nav ul li {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 12%;
   min-width: 100px;

   font-family: "Spectral SC", serif;
   font-size: 20px;
   font-weight: 200;
   font-style: normal;
   color: #ffffff;

   transition: text-shadow 0.2s;
}

nav ul li:hover {
   cursor: pointer;
   text-shadow: #ffffff 0 0 10px;
}