header {
	display: flex;
	width: 100%;
	height: 70px;
	background: #b33535;
	background: linear-gradient(90deg, #bf3636 30%, #750101 100%);
	padding: 0 20px;
	box-shadow: 0 5px 10px #0c0c0c2d;
}

.header-logo {
	display: flex;
	align-items: center;
	width: 20%;
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: 40px;
	color: #ffffff;
	min-width: 150px;
	text-shadow: 5px 5px 0 #a50303;
}

nav {
  width: 80%;
}

nav ul {
   display: flex;
   list-style: none;
   height: 100%;
}

nav li {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   color: #ffffff;
   font-size: 14px;
   width: 12%;
   min-width: 100px;
}

nav i {
   line-height: 30px;
   font-size: 25px;
   padding: 6px 0;
   transition: 0.2s;
}

nav li:hover {
   color: #ffffff;
   cursor: pointer;
   font-weight: 500;
}


nav li:hover i {
   background-color: #750101;
   padding: 6px 18px;
   border-radius: 20px;
   text-shadow: 0 0 10px #ffffff88;
}